body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #06e6ee;
    color: #090101;
    text-align: center;
    padding: 1rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .social-icons li {
    margin: 0 0.5rem;
  }
  
  .social-icons a {
    color: #007BFF;
    font-size: 24px;
    text-decoration: none;
  }
  